# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# Database
*.db

# Chroma
chroma_db/

# Uploaded files
uploads/

# Extracted images
images/extracted/

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db